<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067398640227-9fb06mmtvhfovif665o7pp952p0ft6bp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067398640227-9fb06mmtvhfovif665o7pp952p0ft6bp</string>
	<key>API_KEY</key>
	<string>AIzaSyCg_b9v9AvaQtjqoqNaZQ87NaWeUaDytA8</string>
	<key>GCM_SENDER_ID</key>
	<string>1067398640227</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beattheclockstudios.classically</string>
	<key>PROJECT_ID</key>
	<string>classical-ly</string>
	<key>STORAGE_BUCKET</key>
	<string>classical-ly.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067398640227:ios:e62387a502fce12cd6be56</string>
</dict>
</plist>